<div>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" id="mValForm">
        <div class="" style="margin-bottom:10px">
            <p><b>Experiment1</b></p>
            <select name="seq1" placeholder="Select Sequence" class="form-control">
                {% for subfield in formMVal.seq1 %}
                <option class="dropdown-item">{{render_field(subfield.label)}}</option>
                {% endfor %}
            </select>
        </div>

        {%for i in formMVal.cond1%}
        <div class="row no gutters" style="margin-bottom: 0px;">
            <div class="col-6">
                <p><b>Condition {{loop.index}}</b></p>
            </div>
        </div>
        <div class="form-group row" style="text-align:center; margin: 0px 5px 0px 5px">
            <select name="{{i.form.condition.name}}" id="sequenceForm" placeholder="Select Sequence"
                class="form-control col-6">

                {% for subfield in i.condition %}
                <option name="{{subfield}}" class="dropdown-item">{{render_field(subfield.label)}}</option>
                {% endfor %}

            </select>

            {{render_field(i.value,class_="form-control col-6")}}
        </div>

        {%endfor%}

        <p><b>Experiment2</b></p>
        <select name="seq2" placeholder="Select Sequence" class="form-control">
            {% for subfield in formMVal.seq2 %}
            <option class="dropdown-item">{{render_field(subfield.label)}}</option>
            {% endfor %}
        </select>

        {%for i in formMVal.cond2%}
        <div class="row no gutters" style="margin-bottom: 0px;">
            <div class="col-6">
                <p><b>Condition {{loop.index}}</b></p>
            </div>
        </div>
        <div class="form-group row" style="text-align:center; margin: 0px 5px 0px 5px">
            <select name="{{i.form.condition.name}}" id="sequenceForm" placeholder="Select Sequence"
                class="form-control col-6">

                {% for subfield in i.condition %}
                <option name="{{subfield}}" class="dropdown-item">{{render_field(subfield.label)}}</option>
                {% endfor %}

                 {{render_field(i.value,class_="form-control col-6")}}

            </select>
        </div>

        {%endfor%}
    </form>
</div>