<div>
        {% from "includes/_formhelpers.html" import render_field %}
        <form method="POST" action="" id="mValForm2">
            <div class="" style="margin-bottom:10px">
            <p><b>Sequence</b></p>
            <select name="seq" placeholder="Select Sequence" class="form-control">
                {% for subfield in formMVal2.seq %}
                <option class="dropdown-item">{{render_field(subfield.label)}}</option>
                {% endfor %}
            </select>
            </div>
            
            {%for i in formMVal2.cond%}
            <div class="row no gutters" style="margin-bottom: 0px;">
                <div class="col-6"><p><b>Condition {{loop.index}}</b></p> </div>
                <div class="col-6"><p><b>Value {{loop.index}}</b></p> </div>
            </div>
            <div class="form-group row" style="text-align:center; margin: 0px 5px 0px 5px" >
                <select name="{{i.form.condition.name}}" id="sequenceForm" placeholder="Select Sequence" class="form-control col-6">
    
                    {% for subfield in i.condition %}
                    <option name="{{subfield}}"class="dropdown-item">{{render_field(subfield.label)}}</option>
                    {% endfor %}
    
                </select>
    
                {{render_field(i.value,class_="form-control col-6")}}
            </div>
            
            {%endfor%}
    
            {%if formMVal.measurement and formMVal.value%}
            <p><b>Measurement Type</b></p>
            <select name="measurement" id="mValForm" placeholder="Select Sequence" class="form-control">
                {% for subfield in formMVal.measurement %}
                <option class="dropdown-item">{{render_field(subfield.label)}}</option>
                {% endfor %}
            </select>
    
            <div class="form-group">
                {{render_field(formMVal.value,class_="form-control")}}
            </div>
            {%endif%}
    
        </form>
    </div>