<div>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" id="mValForm">
        <div class="row">
        <p><b>Sequence</b></p>
        <select name="sequence" id="mValForm" placeholder="Select Sequence" class="form-control">
            {% for subfield in formMVal.sequence %}
            <option class="dropdown-item">{{render_field(subfield.label)}}</option>
            {% endfor %}
        </select>
        </div>
        
        {%for i in formMVal.condList %}
        <div class="row" style="text-align:center">
            <div class="col-6"><p><b>Condition {{loop.index}}</b></p> </div>
            <div class="col-6"><p><b>Value {{loop.index}}</b></p> </div>
        </div>
        <div class="form-group row" style="text-align:center" >
            <select name="{{condition}}" id="sequenceForm" placeholder="Select Sequence" class="form-control col-6">

                {% for subfield in i.condition %}
                <option class="dropdown-item">{{render_field(subfield.label)}}</option>
                {% endfor %}

            </select>

            {{render_field(i.value,class_="form-control col-6")}}
        </div>
        
        {%endfor%}


        <p><b>Measurement Type</b></p>
        <select name="measurement" id="mValForm" placeholder="Select Sequence" class="form-control">
            {% for subfield in formMVal.measurement %}
            <option class="dropdown-item">{{render_field(subfield.label)}}</option>
            {% endfor %}
        </select>

        <div class="form-group">
            {{render_field(formMVal.value,class_="form-control")}}
        </div>


    </form>
</div>