<div>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" id="sequenceForm">

        <div class="form-group">
            {{render_field(formSeq.sequence,class_="form-control")}}
        </div>

        <div class="form-group">
            {{render_field(formSeq.description,class_="form-control")}}
        </div>

        <div class="form-group">
            {{render_field(formSeq.filename,class_="form-control")}}
        </div>



    </form>
</div>