{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Protein Synthesis Database Project</h1>
    <p class="lead">Welcome to the Protein Synthesis project webpage! We are developing a tool to keep track of a study of gene expression at the messenger RNA (mRNA) level in different yeast strains. The mRNA is the intermediate between the DNA and protein. mRNAs are translated into protein. We measured RNA levels in different environmental conditions in order to determine how the levels change due to the environmental change. The data is presented in DNA sequence because of the procedure used to quantify the mRNA</p>
    <hr class="my-4">
</div>
<div class="page-header">
  <h1>Getting Started:</h1>
</div>
  <!-- 16:9 aspect ratio -->

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fCd6B5HRaZ8"></iframe>
</div>


{% endblock %}