{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Data Input Page</h1>
    <p class="lead">Below you can choose from 4 different varieties of input. To begin, input the experimental
        conditions that your experiments have been subjected to. After that, either input measurement's and values for
        individual sequences manually, or upload your CSV file for serverside parsing. If you wish, you may also input
        detailed information about a specific sequence.</p>
    <hr class="my-4">

</div>
<div class="row card-group" style="height:200px">
    <!--Condition Card -->
    <div class="card col-4" style="width: 18rem;">
        <div class="card-body d-flex flex-column" style="text-align:center">
            <p class="card-text">Insert new conditions to be applied to individual experiments. Consists of a condition
                name, it's domain (type of recording) and it's value.
                content.</p>
            <button type="button" data-toggle="modal" data-target="#conditionModal" style="background-color:green" class=" mt-auto btn btn-success btn-lg btn-block">Input
                Condition</button>

        </div>
    </div>
    <!--Measurement Card -->
    <div class="card col-4" style="width: 18rem;">
        <div class="card-body d-flex flex-column" style="text-align:center">
            <p class="card-text">Insert new measurements to be recorded for individual experiments. Consists of a measurement
                name, it's domain (type of recording) and it's value.
                content.</p>
            <button type="button" data-toggle="modal" data-target="#measurementModal" style="background-color:green" class=" mt-auto btn btn-success btn-lg btn-block">Input
                Measurement</button>

        </div>
    </div>
    <!--Sequence Card -->
    <div class="card col-4" style="width: 18rem;">
        <div class="card-body d-flex flex-column" style="text-align:center">
            <p class="card-text">Modify or insert detailed information about a sequence. Allows for information or
                clarification notes to be stored alongside a particular sequence</p>
                <button type="button" data-toggle="modal" data-target="#sequenceModal" style="background-color:green" class=" mt-auto btn btn-success btn-lg btn-block">Modify Sequence Information</button>

        </div>
    </div>
    <div class="card col-4" style="width: 18rem;">
        <!--Measurement Card -->
        <div class="card-body d-flex flex-column" style="text-align:center">
            <p class="card-text">For a specific sequence, insert measurement values. Once conditions and measurments in question have been input, they may be used here.</p>
            <button type="button" style="background-color:green" class=" mt-auto btn btn-success btn-lg btn-block">Insert
                Measurement Values</button>
        </div>
    </div>

    <button type="button" style="background-color:green" class="row btn btn-primary btn-lg btn-block col-12">Input CSV File</button>
    
</div>

<!--Condition Modal -->
<div class="modal fade" id="conditionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Condition</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'includes/_conditionModal.html'%}
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button form="conditionForm" name="btn" value="condition" type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!--Measurment Modal -->
<div class="modal fade" id="measurementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Measurment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'includes/_measurementModal.html'%}
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button form="measurementForm" type="submit" name="btn" value="measure" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!--Sequence Modal -->
<div class="modal fade" id="sequenceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modify Sequence</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'includes/_sequenceModal.html'%}
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button form="sequenceForm" type="submit" name="btn" value="sequence" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}