{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron" style="margin-bottom: 0px;">
    <h1 class="display-4">Query and Analysis: Side-By-Side Comparison</h1>
    <p class="lead">This page is designed to allow for query and analysis of two experiments. Given the
        experiments (sequence and set of conditions/values for each), the database will return all
        measurements that the two experiments have in common.</p>
</div>

{% if showMeasure %}
<script>
    $(document).ready(function () {
        $("#mValModal").modal('show');
    });
</script>
{%endif%}



<div class="row card-group">
    <div class="card">
        <button type="button" data-toggle="modal" data-target="#mValModal" style="background-color:green"
            class=" row my-auto btn btn-success btn-lg">Compare Experiments</button>
    </div>
</div>
<div class="row card-group">
    <div class="card col 6" style="width: 18rem;">
        <div class="card-body ">
            {%if experiment1%}
            <h5 class="card-title">{{experiment1.sequence}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{experiment1.filename}}</h6>
            <p class="card-text">{{experiment1.description}}</p>
            {%else%}
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>

            {%endif%}
        </div>
    </div>
    <div class="card col 6" style="width: 18rem;">
        <div class="card-body ">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>



{%include 'includes/_measureTable.html'%}

<!--Mval insert Modal -->
<div class="modal fade" id="mValModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Set Experiment 2</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'includes/_dualMeasurementValueModal.html'%}
            </div>
            <div class="modal-footer">
                <form method="POST" id="addCondForm">
                    <button type="submit" form="mValForm" name="btn" value="addCond" class="btn btn-secondary"
                        style="background-color:green">Add 1</button>
                </form>
                <form method="POST" id="addCondForm2">
                        <button type="submit" form="mValForm" name="btn" value="addCond2" class="btn btn-secondary"
                            style="background-color:green">Add 2</button>
                    </form>
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button form="mValForm" type="submit" name="btn" value="mVal" class="btn btn-primary">Compare Experiments</button>
            </div>
        </div>
    </div>
</div>






{% endblock %}